# Data
/data/

# Mac OS-specific
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv
venv/

# Testing and coverage
.coverage
.pytest_cache/

# Type checking
.mypy_cache/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
