name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        
    - name: Install uv
      run: |
        python -m pip install --upgrade pip
        pip install uv
        
    - name: Restore uv cache
      uses: actions/cache@v4
      with:
        path: ~/.cache/uv
        key: ${{ runner.os }}-uv-${{ hashFiles('uv.lock') }}

    - name: Build wheel
      run: |
        pip install build
        python -m build --wheel

    - name: Upload wheel artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-wheel
        path: dist/*.whl
        
  lint:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - name: Restore uv cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-uv-${{ hashFiles('uv.lock') }}

      - name: Download wheel
        uses: actions/download-artifact@v4
        with:
          name: python-wheel
          path: dist

      - name: Install dependencies
        run: |
          uv pip install --system dist/*.whl
          uv pip install --system .[dev]

      - name: Add local bin to PATH
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: ruff
        run: uv pip run ruff check .

      - name: black
        run: uv pip run black --check .

      - name: mypy
        run: uv pip run mypy migraine_weather

      - name: safety
        run: uv pip run safety check

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - name: Restore uv cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-uv-${{ hashFiles('uv.lock') }}

      - name: Download wheel
        uses: actions/download-artifact@v4
        with:
          name: python-wheel
          path: dist

      - name: Install dependencies
        run: |
          uv pip install --system dist/*.whl
          uv pip install --system pytest

      - name: pytest
        run: |
          pytest --verbose
